---
import Layout from '../layouts/Layout.astro';
import { Content as ExerciceContent } from '../content/Exercice.md';
---

<Layout>
    <div class="content">
        <ExerciceContent />
    </div>
</Layout>
