---
import {Content as CodeExampleContent} from '../content/code_example.md';
---

<section>
    <h2>Exemple de code</h2>
    <div class="content">
        <CodeExampleContent class="code" />
    </div>
</section>

<style>
    h2 {
        text-align: center;
    }
</style>
