---
import {Content as IntroContent} from '../content/intro.md';
---
<section>
    <h1>Le Singleton</h1>
    <div class="content">
        <IntroContent />
    </div>
</section>

<style>
    h1 {
        margin-bottom: 2rem;
    }
</style>
