<section>
    <h2>Les pours et les moins pours</h2>
    <div>
        <img src="src/assets/pro-con.webp" alt="Les pours et les moins pours" />
    </div>
</section>

<style>
    img {
        width: 100%;
        border-radius: 1rem;
    }
    h2 {
        text-align: center;
    }

</style>
