---
import { Image } from 'astro:assets';
import proConImage from '../assets/pro-con.webp';
---

<section>
    <h2>Les pours et les moins pours</h2>
    <div>
        <Image class="image" src={proConImage} alt="Les pours et les moins pours" />
    </div>
</section>

<style>
    .image {
        width: 100%;
        border-radius: 1rem;
    }
    h2 {
        text-align: center;
    }

</style>
